.git
.venv
**/.venv
**/.venv-dbt
**/outputs
**/__pycache__
**/.pytest_cache
*.duckdb
*.duckdb.wal
.env
infra/results
docker-results
src/tools/*/evaluation/results
src/tools/*/bin/
src/tools/*/evaluation/ground_truth
src/tools/*/eval-repos
src/architecture-review/results
docs
