apiVersion: v1
kind: Service
metadata:
  name: vulnerable-service
  namespace: default
spec:
  # MISCONFIG: LoadBalancer without restrictions
  type: LoadBalancer
  # MISCONFIG: No loadBalancerSourceRanges (open to all)
  selector:
    app: vulnerable-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: admin-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: vulnerable-app
  ports:
    - protocol: TCP
      port: 22
      targetPort: 22
      # MISCONFIG: Exposing SSH on NodePort
      nodePort: 30022
